@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    color: var(--text-color); 
    background-color: #f9f9f9; 
}
.zag {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(153, 89, 153);
}
.syl {
    color:rgb(38, 21, 53);
}
.lyd {
    color:rgb(212, 70, 70)
}
h1 {
    font-size: 5vw;
  }
  h1 {
    -webkit-text-stroke: 2px black;
    color: white;
  }
button {
    border: solid;
    background-color: transparent;
    font-size: 5em;
}
  

button:hover,
button:focus,
button:hover ~ button,
button:focus ~ button {
color: white;
}

h1::after {
    content: "!";
    color: red;
}
.selector.selector_modificator {
    color: red;
}
.btn {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: var(--primary-color); 
    color: #f9f9f9; 
    font-weight: 700; 
    cursor: pointer; 
}


  